cca-zoo==1.12.7
cropharvest==0.3.0
geopandas==0.9.0
h5netcdf==1.0.0
h5py==3.7.0
mlflow==1.27.0
multiviewdata==0.2.2
mvlearn==0.5.0
netCDF4==1.5.8
numpy==1.22.4
pandas==1.4.2
psutil==5.9.1
pytorch-lightning==1.6.4
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
torch==1.11.0
torchaudio==0.11.0
torchmetrics==0.9.1
torchtext==0.12.0
torchvision==0.12.0
xarray==2022.3.0